In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('play_tennis.csv')
data.shape

(14, 6)

In [3]:
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
def whatever(data):
    return "Outlook"

In [5]:
whatever (data)

'Outlook'

In [32]:
a=data.groupby(['outlook','play']).count()

In [37]:
a['day'].reset_index()

    outlook play  day
0  Overcast  Yes    4
1      Rain   No    2
2      Rain  Yes    3
3     Sunny   No    3
4     Sunny  Yes    2

In [31]:
b=data['play'].count()
    
b

14

In [52]:
x=-3/5*np.log2(3/5)-2/5*np.log2(2/5)
y=-2/5*np.log2(2/5)-3/5*np.log2(3/5)
z=0

C:\Users\Soutick\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log2
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Soutick\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [58]:
(5/14*x)+(5/14*y)+0

0.6935361388961918

In [55]:
x

0.9709505944546686

In [56]:
y

0.9709505944546686

In [59]:
0.72-0.18

0.54