In [110]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [111]:
data=pd.read_csv('zomato.csv',encoding='latin-1')

In [112]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [113]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9551 non-null int64
Restaurant Name         9551 non-null object
Country Code            9551 non-null int64
City                    9551 non-null object
Address                 9551 non-null object
Locality                9551 non-null object
Locality Verbose        9551 non-null object
Longitude               9551 non-null float64
Latitude                9551 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9551 non-null int64
Currency                9551 non-null object
Has Table booking       9551 non-null object
Has Online delivery     9551 non-null object
Is delivering now       9551 non-null object
Switch to order menu    9551 non-null object
Price range             9551 non-null int64
Aggregate rating        9551 non-null float64
Rating color            9551 non-null object
Rating text             9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [114]:
data.dropna(inplace=True)

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9542 non-null int64
Restaurant Name         9542 non-null object
Country Code            9542 non-null int64
City                    9542 non-null object
Address                 9542 non-null object
Locality                9542 non-null object
Locality Verbose        9542 non-null object
Longitude               9542 non-null float64
Latitude                9542 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9542 non-null int64
Currency                9542 non-null object
Has Table booking       9542 non-null object
Has Online delivery     9542 non-null object
Is delivering now       9542 non-null object
Switch to order menu    9542 non-null object
Price range             9542 non-null int64
Aggregate rating        9542 non-null float64
Rating color            9542 non-null object
Rating text             9542 non-null object
Votes                   9542 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.6+ MB

In [116]:
data.drop(['Restaurant ID','Is delivering now','Switch to order menu'],axis=1,inplace=True)

In [117]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [118]:
data['Country Code'].nunique()

15

In [119]:
data['Country Code'].value_counts()

1      8652
216     425
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [120]:
data=data[data['Country Code']==1]
data.shape

(8652, 18)

In [121]:
data.drop(['Restaurant Name','Country Code','Currency'],axis=1,inplace=True)

In [122]:
data.shape

(8652, 15)

In [123]:
data['City'].nunique()

43

In [124]:
data['City'].value_counts()

New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Guwahati          21
Amritsar          21
Ahmedabad         21
Bhubaneshwar      21
Lucknow           21
Surat             20
Jaipur            20
Indore            20
Kolkata           20
Ranchi            20
Aurangabad        20
Nashik            20
Patna             20
Vizag             20
Agra              20
Coimbatore        20
Goa               20
Vadodara          20
Pune              20
Ludhiana          20
Mumbai            20
Puducherry        20
Nagpur            20
Varanasi          20
Kanpur            20
Bangalore         20
Mangalore         20
Mysore            20
Chennai           20
Allahabad         20
Dehradun          20
Kochi             20
Bhopal            20
Chandigarh        18
Hyderabad         18
Secunderabad       2
Panchkula          1
Mohali             1
Name: City, dtype: int64

In [125]:
data=data[data['City'].isin(['New Delhi','Gurgaon','Noida','Faridabad'])]

In [126]:
data['Locality'].value_counts()

Connaught Place                 122
Rajouri Garden                   99
Shahdara                         87
Defence Colony                   86
Pitampura                        85
                               ...
Garden of Five Senses, Saket      1
Jor Bagh                          1
Park Inn, Sector 15, Gurgaon      1
Dr. Zakir Hussain Marg            1
Durga Puri                        1
Name: Locality, Length: 457, dtype: int64

In [127]:
data.groupby('Cuisines').mean()['Average Cost for two'].sort_values(ascending=False)

Cuisines
Asian, Japanese, Korean, Thai, Chinese             7000.0
North Indian, Chinese, South Indian, Italian       6000.0
Malaysian, Thai, Kerala, Vietnamese, Sri Lankan    6000.0
Chinese, Italian, Continental, North Indian        5000.0
Mediterranean, European                            5000.0
                                                    ...
Awadhi, Mughlai                                     100.0
North Indian, Beverages                             100.0
Mithai, South Indian, Chinese, Street Food          100.0
Bakery, Pizza                                       100.0
Beverages, Street Food                               50.0
Name: Average Cost for two, Length: 1156, dtype: float64

In [128]:
avg_price=data.groupby('Cuisines').mean()['Average Cost for two'].sort_values(ascending=False).reset_index()
avg_price

                                             Cuisines  Average Cost for two
0              Asian, Japanese, Korean, Thai, Chinese                7000.0
1        North Indian, Chinese, South Indian, Italian                6000.0
2     Malaysian, Thai, Kerala, Vietnamese, Sri Lankan                6000.0
3         Chinese, Italian, Continental, North Indian                5000.0
4                             Mediterranean, European                5000.0
...                                               ...                   ...
1151                                  Awadhi, Mughlai                 100.0
1152                          North Indian, Beverages                 100.0
1153       Mithai, South Indian, Chinese, Street Food                 100.0
1154                                    Bakery, Pizza                 100.0
1155                           Beverages, Street Food                  50.0

[1156 rows x 2 columns]

In [129]:
data=data.merge(avg_price, on='Cuisines')

In [130]:
data.rename(columns={'Average Cost for two_y':'Cuisine','Average Cost for two_x':'target'},inplace=True)

In [131]:
data

,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Cuisine
0,Faridabad,"G 25/22, Main Road, 40 Feet, Molarband Extensi...",Badarpur Border,"Badarpur Border, Faridabad",77.306640,28.490059,"Chinese, Fast Food, Bakery",250,No,No,1,2.9,Orange,Average,4,375.000000
1,New Delhi,"Shop 3, Plot 1161, Opposite Old Sabji Mandi, K...",Narela,"Narela, New Delhi",77.049525,28.806199,"Chinese, Fast Food, Bakery",500,No,No,2,0.0,White,Not rated,0,375.000000
2,Faridabad,"11/6, Delhi Mathura Road, Near Bharat Petrol P...",Badarpur Border,"Badarpur Border, Faridabad",77.304776,28.490157,"North Indian, Chinese",500,No,No,2,2.8,Orange,Average,16,594.303797
3,Faridabad,"158/7, Opposite DDA Flat, Pul Pehlad Pur, Char...",Charmwood Village,"Charmwood Village, Faridabad",0.000000,0.000000,"North Indian, Chinese",300,No,No,1,0.0,White,Not rated,0,594.303797
4,Faridabad,"Hotel Saffron Kiran, 12/6, Adjacent to Badarpu...","Hotel Saffron Kiran, Faridabad","Hotel Saffron Kiran, Faridabad, Faridabad",77.305698,28.471985,"North Indian, Chinese",1200,Yes,No,3,0.0,White,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7917,Noida,"205-A, 1st Floor, Spice World Mall, Sector 25-...","Spice World Mall, Sector 25","Spice World Mall, Sector 25, Noida",77.341021,28.585493,"European, North Indian, Chinese",2500,Yes,No,4,2.2,Red,Poor,116,2500.000000
7918,Noida,"101, Food Court, Supertech Shopprix Mall, Sect...","Supertech Shopprix Mall, Sector 61","Supertech Shopprix Mall, Sector 61, Noida",77.364833,28.597103,"Juices, Beverages, Fast Food",200,No,No,1,3.0,Orange,Average,10,200.000000
7919,Noida,"63-C, 134-B, Supertech Shopprix Mall, Sector 6...","Supertech Shopprix Mall, Sector 61","Supertech Shopprix Mall, Sector 61, Noida",77.364833,28.597103,"Bakery, Desserts, Fast Food, North Indian",450,No,Yes,1,3.5,Yellow,Good,105,450.000000
7920,Noida,"320-A, 3rd Floor, The Great India Place Mall, ...","The Great India Place, Sector 38","The Great India Place, Sector 38, Noida",77.323213,28.567751,"Continental, Lebanese, Mexican",1000,Yes,No,3,0.0,White,Not rated,0,1000.000000
7921,Noida,"A-2, 3rd Floor, The Great India Place Mall, Se...","The Great India Place, Sector 38","The Great India Place, Sector 38, Noida",77.325308,28.567150,"Chinese, North Indian, South Indian, Fast Food",450,No,No,1,2.0,Red,Poor,161,450.000000

In [132]:
data.columns

Index(['City', 'Address', 'Locality', 'Locality Verbose', 'Longitude',
       'Latitude', 'Cuisines', 'target', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes', 'Cuisine'],
      dtype='object')

In [133]:
data.drop(columns=['Cuisines','Address','Locality','Locality Verbose'],inplace=True)

In [134]:
data

,City,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Cuisine
0,Faridabad,77.306640,28.490059,250,No,No,1,2.9,Orange,Average,4,375.000000
1,New Delhi,77.049525,28.806199,500,No,No,2,0.0,White,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,500,No,No,2,2.8,Orange,Average,16,594.303797
3,Faridabad,0.000000,0.000000,300,No,No,1,0.0,White,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1200,Yes,No,3,0.0,White,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,2500,Yes,No,4,2.2,Red,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,200,No,No,1,3.0,Orange,Average,10,200.000000
7919,Noida,77.364833,28.597103,450,No,Yes,1,3.5,Yellow,Good,105,450.000000
7920,Noida,77.323213,28.567751,1000,Yes,No,3,0.0,White,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,450,No,No,1,2.0,Red,Poor,161,450.000000

In [135]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'target', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes', 'Cuisine'],
      dtype='object')

In [136]:
data['Has Table booking'].value_counts()

No     6876
Yes    1046
Name: Has Table booking, dtype: int64

In [137]:
data['Has Table booking'].replace("No",0,inplace=True)
data['Has Table booking'].replace("Yes",1,inplace=True)

In [138]:
data['Has Table booking'].value_counts()

0    6876
1    1046
Name: Has Table booking, dtype: int64

In [139]:
data['Has Online delivery'].value_counts()

No     5609
Yes    2313
Name: Has Online delivery, dtype: int64

In [140]:
data['Has Online delivery'].replace("No",0,inplace=True)
data['Has Online delivery'].replace("Yes",1,inplace=True)

In [141]:
data['Has Online delivery'].value_counts()

0    5609
1    2313
Name: Has Online delivery, dtype: int64

In [142]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'target', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes', 'Cuisine'],
      dtype='object')

In [143]:
data['Price range'].value_counts()

1    4221
2    2583
3     814
4     304
Name: Price range, dtype: int64

In [144]:
data['Rating color'].value_counts()

Orange        3571
White         2137
Yellow        1580
Green          413
Red            178
Dark Green      43
Name: Rating color, dtype: int64

In [145]:
data['Rating text'].value_counts()

Average      3571
Not rated    2137
Good         1580
Very Good     413
Poor          178
Excellent      43
Name: Rating text, dtype: int64

In [180]:
data.corr()

,Longitude,Latitude,target,Has Table booking,Price range,Aggregate rating,Votes,Cuisine
Longitude,1.000000,0.997829,0.071752,0.059417,0.083845,0.224523,0.071641,0.048805
Latitude,0.997829,1.000000,0.070993,0.059974,0.083131,0.224383,0.071598,0.048014
target,0.071752,0.070993,1.000000,0.642966,0.847985,0.328440,0.299089,0.808274
Has Table booking,0.059417,0.059974,0.642966,1.000000,0.658627,0.248363,0.223811,0.563860
Price range,0.083845,0.083131,0.847985,0.658627,1.000000,0.370212,0.325602,0.720934
Aggregate rating,0.224523,0.224383,0.328440,0.248363,0.370212,1.000000,0.291076,0.267418
Votes,0.071641,0.071598,0.299089,0.223811,0.325602,0.291076,1.000000,0.274963
Cuisine,0.048805,0.048014,0.808274,0.563860,0.720934,0.267418,0.274963,1.000000

In [181]:
data.corr()['target']

Longitude            0.071752
Latitude             0.070993
target               1.000000
Has Table booking    0.642966
Price range          0.847985
Aggregate rating     0.328440
Votes                0.299089
Cuisine              0.808274
Name: target, dtype: float64

In [182]:
data.drop(columns=['Has Online delivery','Rating color'],inplace=True)

KeyError: "['Has Online delivery' 'Rating color'] not found in axis"

In [188]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'target', 'Has Table booking',
       'Price range', 'Aggregate rating', 'Rating text', 'Votes', 'Cuisine'],
      dtype='object')

In [189]:
y=data['target'].values
y

array([ 250,  500,  500, ...,  450, 1000,  450], dtype=int64)

In [190]:
input1=data.drop(columns=['target'])

In [191]:
X=input1.iloc[:,:].values

In [192]:
X.shape

(7922, 9)

In [193]:
y.shape

(7922,)

In [194]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [195]:
#Label Encoding
X[:,0]=encoder.fit_transform(X[:,0])
X[:,-3]=encoder.fit_transform(X[:,-3])

In [196]:
X[0]

array([0, 77.3066401, 28.4900591, 0, 1, 2.9, 0, 4, 375.0], dtype=object)

In [197]:
X.shape

(7922, 9)

In [198]:
from sklearn.preprocessing import OneHotEncoder
oencoder=OneHotEncoder(categorical_features=[0])

In [199]:
#One Hot Encoding
X=oencoder.fit_transform(X).toarray()
X.shape

C:\Users\Soutick\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Soutick\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

(7922, 12)

In [200]:
X=X[:,1:]
X.shape

(7922, 11)

In [201]:
oencoder1=OneHotEncoder(categorical_features=[-3])
X=oencoder1.fit_transform(X).toarray()
X.shape

C:\Users\Soutick\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Soutick\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

(7922, 16)

In [202]:
X=np.delete(X,-3,1)
X.shape

(7922, 15)

In [203]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2)

In [204]:
X_train.shape

(6337, 15)

In [205]:
X_test.shape

(1585, 15)

In [206]:
y_train.shape

(6337,)

In [207]:
y_test.shape

(1585,)

In [209]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [211]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [212]:
y_pred=regressor.predict(X_test)

In [214]:
y_pred.shape

(1585,)

In [215]:
y_test.shape

(1585,)

In [216]:
from sklearn.metrics import r2_score

In [217]:
r2_score(y_test,y_pred)

0.8334698833228599